Source: tt-kmd
Section: misc
Priority: optional
Maintainer: Tenstorrent <support@tenstorrent.com>
Build-Depends: debhelper (>= 12), dkms, udev
Standards-Version: 4.6.0
Homepage: https://github.com/tenstorrent/tt-kmd
Vcs-Git: https://github.com/tenstorrent/tt-kmd.git
Vcs-Browser: https://github.com/tenstorrent/tt-kmd

Package: tenstorrent-dkms
Architecture: all
Depends: dkms, ${misc:Depends}, linux-headers-generic | linux-headers
Description: Tenstorrent kernel driver (DKMS)
 This package provides the Tenstorrent kernel module as DKMS source.

